h1{
    display: flex;
    align-items: center;
    justify-content: center;
}


main{
    height: 100vh;
    
}
img{
    width: 15rem;
    height: 15rem;
}


header a{
    color: white;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
justify-content: space-around;
}
.item {
    display: flex;
    align-items: center; 
    border-style:outset;
    border-color: black;
  }

.sumarBtn,
.restarBtn {
  padding: 5px 10px; 
  margin-right: 10px; 
}

.columna {
    flex: 1; 
    padding: 10px; 
    box-sizing: border-box; 
    max-width: calc(50% - 20px); 
    display: inline-block; 
    vertical-align: top; /
}
.items{
    display: flex;
  
}
#productosContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(70, 138, 194);
}

#productosContainer .cantidadElement{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: .625rem;

}

#productosContainer button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: .625rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    color: black;
    
}

footer{
    background-color: grey;
}

.finCompra{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item p{
display: flex;
align-items:center;
justify-content: center;
width: 12.5rem;
font-style:oblique;
}

.cantidadElement{
    display: flex;
}


