h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    background-color: aquamarine;
}

img{
    width: 18.75rem;
    height: 18.75rem;
}

header a{
    color: white;
}
header{
    background-color: black;
}